@font-face {
  font-family: 'DM Mono';
  src: url('/client/styles/fonts/DMMono-Regular.ttf') format('truetype');
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

    @include themify() {
     border-bottom: 1px dashed map-get($theme-map, 'nav-border-color');
   }

    & button {
      padding: 0;

      @include themify() {
        color: getThemifyVariable('logo-background-color');
    }
  }
}

.nav__items-left,
.nav__items-right {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  gap: 8px;
}

.nav__item-header {
  font-size: 16px;
  font-family: 'DM Mono', monospace;
  color: white;
  fill: white;
}

.nav__fundraiser-btn {
  font-weight: bold;
  font-size: #{14 / $base-font-size}rem;
  @include themify() {
    color: getThemifyVariable('fundraiser-button-nav-color');
  }
}


.preview-nav__editor-svg {
  @include icon();
}

.nav__items-left,
 .nav__items-right {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4px 8px;

  @include themify() {
    background-color: getThemifyVariable('modal-button-color');
  }

  & button {
    font-family: 'DM Mono', monospace;
  }
}

.signup {
  @include themify() {
    background-color: getThemifyVariable('nav-hover-color');
  }
}

.nav__item.signup:hover {
  @include themify() {
    background-color: getThemifyVariable('modal-button-color');
  }
}

.nav__item--no-icon {
  padding-left: #{15 / $base-font-size}rem;
}

.nav__item-header-triangle polygon,
.nav__item-header-triangle path {
  @include themify() {
    fill: getThemifyVariable('logo-background-color');
  }
}

.nav__item:hover {
    @include themify() {
      background-color: getThemifyVariable('nav-hover-color');
    }

  .nav__item-header-triangle polygon,
  .nav__item-header-triangle path {
    width: 8px;
  }
}

.nav__item-header-triangle {
	margin-left: #{5 / $base-font-size}rem;
}

.nav__dropdown {
  @include themify() {
      color: getThemifyVariable('nav-hover-color');
    }
  
  font-family: 'DM Mono', monospace;
}

.nav__item-header-triangle {
	margin-left: #{5 / $base-font-size}rem;
}

.nav__dropdown {
  @extend %dropdown-open-left;
  display: none;
  .nav__item--open & {
    display: flex;
  }
}

.nav__items-right {

  & .nav__dropdown {
    width: #{125 / $base-font-size}rem;
  }
}

.nav__item-spacer {
  @include themify() {
    color: map-get($theme-map, 'inactive-text-color');
    margin-left: #{8 / $base-font-size}rem;
  }
}

.nav__item-or {
  @include themify() {
    color: map-get($theme-map, 'inactive-text-color');
  }
}

.nav__auth-button {
  font-family: 'DM Mono', monospace;

  @include themify() {
    color: getThemifyVariable('logo-background-color');
  }

  :hover {
    @include themify() {
      color: getThemifyVariable('logo-background-color');
    }
  }
}

// .nav__dropdown button {
//   padding: 0;
// }

.nav__dropdown-item {
  & button,
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__item-logo {
  position: relative;
  height: #{60 / $base-font-size}rem;
  width: #{60 / $base-font-size}rem;

  & span {
    position: absolute;
  }
}

.svg__logo {
  height: #{60 / $base-font-size}rem;
  width: #{60 / $base-font-size}rem;
}

.svg__logo g path{

  @include themify() {
    // Set internal color of the logo;
    fill: getThemifyVariable('modal-button-color');
  }
}

.svg__logo:hover path {
  @include themify() {
    // Set internal color of the logo;
    fill: getThemifyVariable('nav-hover-color');
  }
}


.nav__keyboard-shortcut {
  font-size: #{12 / $base-font-size}rem;
  font-family: Inconsololata, monospace;

  @include themify() {
    color: getThemifyVariable('keyboard-shortcut-color');
  }

  .nav__dropdown-item:hover & {
    @include themify() {
      color: getThemifyVariable('button-hover-color');
    }
  }
}

.nav__back-icon {
  & g, & path {
    opacity: 1;
    @include themify() {
      fill: getThemifyVariable('logo-background-color');
    }
  }
  margin-right: #{5 / $base-font-size}rem;
}

.nav__back-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
